header, main, footer, nav{

border: 1px solid black;
padding: 3%;
min-height: 6vh;
margin: 0%;

}



nav{

border: 1px solid black;
display: grid;
gap: 10px;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;


}

img{

width: 100%;
height: 100%;
box-sizing: border-box;
object-fit: cover;
display: block;
}


.imgbox {

    border: 1px solid black;

    aspect-ratio: 1/1;
   


}

nav a{
text-decoration: none;
color: black;


}


@media(min-width:550px){
    .indexMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;/* aldrig % på gap */
        padding: 25px;  /*  både % och px är ok här */
       

    }

    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        place-items: center;
    }



}


html{

    scroll-behavior: smooth;
}


.hero {
    padding: 40px;
    text-align: center;
    background: lightgray; /* enkel bakgrundsfärg */
}


footer {
  background: lightgray;
  text-align: center;
  padding: 10px;
}

footer a {
  color: blue;
  text-decoration: none;
}
