header, main, footer, nav {

border: 1px solid black;
padding: 3%;
min-height: 6vh;
margin: 0%;

}

nav{

border: 1px solid black;
display: grid;
gap: 10px;
grid-template-columns: 1fr 1fr 1fr;

}

img{

width: 100%;
height: 100%;
box-sizing: border-box;
object-fit: cover;
display: block;
}


.imgbox {

    border: 1px solid black;

    aspect-ratio: 1/1;
   


}

nav a{
text-decoration: none;
color: black;


}


@media(min-width:600px){
    .indexMain{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;px;/* aldrig % p책 gap */
        padding: 25px;  /*  b책de % och px 채r ok h채r */
       

    }

    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        place-items: center;
    }



}

html{


    scroll-behavior: smooth;
}



